body {
  background-color: white;
  background-image: url("cloud.jpg");
  background-attachment: fixed;
  padding: 8px;

}

[class*="col-3"] {
    padding:50px;
    border: 1px solid #dddddd;
    border-top: 0px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    color: white;
    font-family: Roboto, sans-serif;
    font-weight: lighter;

}
img {
  width: 100px;
  height: 100px;
  align-self: right;
}

[class*="col-12"] {
  padding:10px;
  border: 1px solid #dddddd;
  border-radius: 5px;


}

[class*="col-9"] {
  color: black;
  padding:10px;
  margin-top: 10px;
  background-color: white;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom: 0px;
  color: black;
  font-family: roboto;
  opacity: 0.6;
}
h3 {
  float: right;
  font-size: 35px;
  font-family: Roboto, sans-serif;
  font-weight: lighter;
}
button {
  margin-left:42%;
  margin-right:45%;
  position: relative;
  font-family: Roboto, sans-serif;
  font-weight: lighter;
  font-size: 15px;
  border: 0px;
  background-color: Transparent;
  color: white;
}
